// SPDX-License-Identifier: LGPL-3.0-or-later
// Loaded after native dark component rules; only Neo's enabled night mode is affected.
@media screen {
    .o_web_client.o_neo_theme[data-neo-mode="dark"] {
        .o_main_navbar {
            background: var(--neo-accent);
        }
        .o-mail-Discuss {
            --mail-Discuss-surface-dark: var(--neo-surface);
        }
        .o_Message_authorName {
            opacity: 1;
        }
        .o_Message_date {
            color: var(--neo-muted) !important;
            opacity: 1 !important;
        }
        .o_MessageList_separatorLabel {
            opacity: 1 !important;
        }
        .o_kanban_counter.opacity-25 {
            opacity: .65 !important;
        }
        .o_ComposerTextInput_textarea::placeholder {
            color: var(--neo-muted);
            opacity: 1;
        }
    }
}
